.container__home{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.home__info{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    color: #FFF;
    padding: 2vh 2vw;
}
.home__info img{
    width: 50vw;
}
.info__text{
    display: flex;
    flex-direction: column;
    text-align: end;
    align-items: flex-end;
    justify-content: space-evenly;
    width: 30vw;
    gap: 30px;
    font-size: 1.3rem;
}

.home__button {
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 16px 36px;
    border: 4px solid;
    border-color: transparent;
    font-size: 16px;
    background-color: inherit;
    border-radius: 100px;
    font-weight: 600;
    color: var(--primary_color);
    box-shadow: 0 0 0 2px var(--primary_color);
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .home__button svg {
    position: absolute;
    width: 24px;
    fill: var(--primary_color);
    z-index: 9;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .home__button .arr-1 {
    right: 16px;
  }
  
  .home__button .arr-2 {
    left: -25%;
  }
  
  .home__button .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: var(--primary_color);
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .home__button .text {
    position: relative;
    z-index: 1;
    transform: translateX(-12px);
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .home__button:hover {
    box-shadow: 0 0 0 12px transparent;
    color: #212121;
    border-radius: 12px;
  }
  
  .home__button:hover .arr-1 {
    right: -25%;
  }
  
  .home__button:hover .arr-2 {
    left: 16px;
  }
  
  .home__button:hover .text {
    transform: translateX(12px);
  }
  
  .home__button:hover svg {
    fill: #212121;
  }
  
  .home__button:active {
    scale: 0.95;
    box-shadow: 0 0 0 4px var(--primary_color);
  }
  
  .home__button:hover .circle {
    width: 220px;
    height: 220px;
    opacity: 1;
  }
  

@media(max-width: 750px){
    .home__info{
        flex-direction: column;
        padding: 50px;
        gap: 10px;
    }
    .info__text{
        align-items: center;
        gap: 10px;
        text-align: center;
        width: 50vw;
    }
}
@media(max-width: 480px){
    .home__info img{
        width: 90vw;
    }
    .info__text{
        width: 90vw;
    }
}