.home__info{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    color: #FFF;
    padding: 2vh 2vw;
}
.home__info img{
    width: 50vw;
}
.info__text{
    display: flex;
    flex-direction: column;
    text-align: end;
    align-items: flex-end;
    justify-content: space-evenly;
    width: 30vw;
    gap: 10px;
    font-size: 1.3rem;
}

.button__text{
    background-color: var(--primary_color);
    padding: 10px 20px;
    border-radius: 10px;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3rem

}

@media(max-width: 750px){
    .home__info{
        flex-direction: column;
        padding: 50px;
        gap: 10px;
    }
    .info__text{
        align-items: center;
        gap: 10px;
        text-align: center;
        width: 50vw;
    }
}
@media(max-width: 480px){
    .home__info img{
        width: 90vw;
    }
    .info__text{
        width: 90vw;
    }
}