.saved {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    gap: 50px;
    max-width: 100%;
}

.saved h2{
    color: #FFF;
    font-size: 2rem;
}

.saved__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
}