header{
    width: 100vw;
    height: 10vh;
    background-color: var(--primary_color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}
.header__menu{
    display: flex;
    gap: 20px;
    color: #FFF;
}
.menu__item{
    color: #000;
    text-decoration: none;
    font-weight: bold;
}
.logo{
    height: 30px;
}