.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bar {
    width: 30px;
    height: 3px;
    margin: 3px;
    background-color: #343434;
}

.menu-icon {
    display: none;
    cursor: pointer;
}

.menu-items {
    display: flex;
    gap: 20px;
}

.menu__item {
    text-decoration: none;
    color: #000;
    padding: 5px 10px;
    transition: all .1s;
}

.menu__item:hover {
    text-shadow: 2px 2px 15px #000000;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    transition: all .1s;
}



@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    .menu-icon {
        display: flex;
        gap: 2px;
        flex-direction: column;
    }

    .menu-items {
        display: none;
        flex-direction: column;
        background-color: var(--primary_color);
        position: fixed;
        top: 9.8vh;
        left: 0;
        width: 100%;
        align-items: center;
        animation: slideDown 0.5s ease-in-out;
    }

    .menu-items.show {
        display: flex;
        transform: translateY(0);
    }

    .menu__item {
        padding: 10px 20px;
    }
}