 .search {
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 50px;
     gap: 50px;
     max-width: 100%;
 }

 .search h2{
    color: #FFF;
    font-size: 2rem;
 }

 .search input {
     width: 70vw;
     height: 30px;
     border-radius: 50px;
     background-color: #999999;
     color: #FFF;
 }

 .search__results {
     display: grid;
     grid-template-columns: 1fr 1fr;
 }