footer{
    display: flex;
    width: 100%;
    justify-content: center;
    color: #fff;
    padding: 10px;
    font-size: .8rem;
    text-align: center;
}

@media(max-width: 750px){
    footer{
        font-size: 0.3rem;
    }
}