* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

:root {
    --primary_color: #FFA500;
}

body {
    background: linear-gradient(to right, #343434, #000000);
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary_color);
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: #FFDD9E;
}